html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(123, 119, 119);
    color: white;
    width: 60%;
    height: 100%;
}

.main {
    background-color: rgb(56, 51, 51);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    /* text-align: center; */
    padding: 0 10px;
    height: 100%;

}



h3 {
    background-color: blanchedalmond;
    color: black;
    border-radius: 6px;
    padding: 5px 10px;
    text-align: center;
    flex: 0.5;
}

.chat-window {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex: 9;
    overflow: auto;

}

.contacts {
    background-color: rgba(131, 130, 130, 0.686);
    color: black;
    flex: 2;
    border-radius: 6px;
    margin-right: 5px;
    padding: 5px;
}

.particular-contact-div {
    background-color: rgba(232, 228, 228, 0.138);
    margin-bottom: 4px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    padding: 5px;
}

.particular-contact-div p,
h4 {
    margin: 0;
    padding: 2px;
    text-align: left;
}

.prev-chat {
    background-color: rgb(217, 215, 215);
    color: black;
    border-radius: 6px;
    flex: 3;
    margin-left: 5px;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;

}


.received-message-div {
    background-color: rgb(222, 130, 130);
    margin-bottom: 4px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgb(219, 85, 85);
    padding: 5px;
    margin: 5px;
    text-align: justify;
    width: 60%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.sent-message-div {
    margin-left: auto;
    background-color: rgb(128, 228, 143);
    margin-bottom: 4px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgb(68, 223, 92);
    padding: 5px;
    margin: 5px;
    text-align: justify;
    width: 60%;
    align-self: flex-end;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.input-message {
    flex: 1;
    margin-top: 10px;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form textarea {
    resize: none;
    flex: 8;
    margin: 10px;
    padding: 10px;
    background-color: rgb(217, 215, 215);
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: blue;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 10px 15px;
    flex: 1;
    margin: 10px;
}

form button:hover{
    cursor: pointer;
}

form label{
    background-color:  rgb(76 55 55 / 65%);
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
}

form label:hover{
    cursor: pointer;
}