html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(123, 119, 119);
    color: white;
    width: 60%;
    height: 100%;
}

.main {
    background-color: rgb(56, 51, 51);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    /* text-align: center; */
    padding: 0 10px;
    height: 100%;

}

h1 {
    background-color: blanchedalmond;
    color: black;
    border-radius: 6px;
    padding: 5px 10px;
    text-align: center;
    flex: 0.5;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    overflow: auto;
    flex: 9;
}

.participants-div {
    background-color: rgba(131, 130, 130, 0.686);
    color: black;
    flex: 1;
    border-radius: 6px;
    margin-right: 5px;
    padding: 5px;
}

.participants-div h3 {
    text-align: center;
    color: white;
    padding: 5px;


}

.participants-div p {
    background-color: rgba(232, 228, 228, 0.138);
    margin-bottom: 4px;
    margin-top: 0;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    padding: 5px;
}

.chat-window {
    background-color: rgb(217, 215, 215);
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    flex: 3;
    border-radius: 6px;
    padding: 5px;
    overflow: auto;
}

.chat-window img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.received-message-div {
    margin-bottom: 4px;
    margin: 3px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.received-message-content {
    background-color: rgb(217, 82, 82);
    box-shadow: 2px 2px 5px rgb(219, 85, 85);
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    text-align: justify;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: rgb(0, 0, 0);
}

.sender-details {
    color: rgb(196, 109, 109);
    border-radius: 5px;
    padding: 0px;
    margin: 0;
    text-align: justify;
    font-weight: bold;
    font-size: small;
}



.sent-message-div {
    border-radius: 3px;
    width: 60%;
    align-self: flex-end;
    margin: 3px;

}

.sent-message-content {
    background-color: rgb(128, 228, 143);
    box-shadow: 2px 2px 5px rgb(68, 223, 92);
    padding: 5px;
    margin: 5px;
    text-align: justify;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: black;
}


form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form textarea {
    resize: none;
    flex: 8;
    margin: 10px;
    padding: 10px;
    background-color: rgb(217, 215, 215);
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: blue;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 10px 15px;
    flex: 1;
    margin: 10px;
}

form button:hover {
    cursor: pointer;
}

form label {
    background-color: rgb(76 55 55 / 65%);
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
}

form label:hover {
    cursor: pointer;
}

