<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat-Inbox</title>
    <link rel="stylesheet" href="../style/chatinbox.css">
</head>

<body>
    <div class="main">
        <h3>Chat App - Inbox</h3>
        <div class="chat-window">
            <div class="contacts" id="contacts-div">

            </div>
            <div class="prev-chat" id="prev-chat-div">

            </div>
        </div>

        <div class="input-message">
            <form onsubmit="messageSendingHandler(event)" id="input-form">
                <textarea type="text" name="message" id="message" placeholder="Enter message"></textarea>
                <input type="file" id="media-input" name="mediaInput" style="display: none;">
                <label for="media-input" id="label-media-input">Upload File</label>
                <button type="submit" id="send-btn">Send</button>
            </form>

        </div>
    </div>

</body>
<script src="../js/chatinbox.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</html>