<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat-Inbox</title>
    <link rel="stylesheet" href="../style/chatinbox.css">
</head>

<body>
    <div class="main">
        <div class="inbox">
            <h3>Chat App - Inbox</h3>
            <div class="prev-chat"></div>
        </div>

        <div class="input-message">
            <input type="text" name="message" id="message" placeholder="Enter message">
            <button id="send-btn">Send</button>
        </div>
    </div>

</body>
<script src="../js/chatinbox.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</html>